.mat-mdc-row:hover .mat-mdc-cell,
.mat-mdc-row:hover .mat-mdc-cell .mat-icon {
  background-color: lightslategrey;
  color: white;
}

.btn-criar-fornecedor-pj {
  margin: 1rem 0;
}

.tabela {
  border-radius: 10px;
}

