<div class="btn-criar-fornecedor-pf">
  <button (click)="abrirDialog()" class="mat-mdc-raised-button" mat-button>Criar fornecedor</button>
</div>

<div class="mat-elevation-z8 tabela">
  <table [dataSource]="dados" mat-table matSort>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
      <td *matCellDef="let elemento" mat-cell> {{ elemento.id }}</td>
    </ng-container>

    <ng-container matColumnDef="cep">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>CEP</th>
      <td *matCellDef="let elemento" mat-cell> {{ elemento.cep | cep }}</td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>CPF</th>
      <td *matCellDef="let elemento" mat-cell> {{ elemento.cpf | cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="rg">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>RG</th>
      <td *matCellDef="let elemento" mat-cell> {{ elemento.rg }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Nome</th>
      <td *matCellDef="let elemento" mat-cell> {{ elemento.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>E-mail</th>
      <td *matCellDef="let elemento" mat-cell> {{ elemento.email }}</td>
    </ng-container>

    <ng-container matColumnDef="dataNascimento">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Data de nascimento</th>
      <td *matCellDef="let elemento" [matTooltip]="calcularIdade(elemento.dataNascimento) + ' anos'"
          mat-cell> {{ elemento.dataNascimento | dataDdmmyyyy }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th *matHeaderCellDef mat-header-cell>Ações</th>
      <td *matCellDef="let elemento" mat-cell>
        <button (click)="deletarEmpresa(elemento)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="abrirDialog(elemento)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="colunasTabela" mat-header-row></tr>
    <tr *matRowDef="let empresa; columns: colunasTabela;" mat-row></tr>
  </table>

  <mat-paginator (page)="buscarFornecedoresPf($event.pageIndex, $event.pageSize)"
                 [length]="totalItems"
                 [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="5"
                 showFirstLastButtons>
  </mat-paginator>
</div>
