.mat-mdc-row:hover .mat-mdc-cell,
.mat-mdc-row:hover .mat-mdc-cell .mat-icon {
  background-color: lightslategrey;
  color: white;
}

.btn-criar-fornecedor-pf {
  margin: 1rem 0;
}

.tabela {
  border-radius: 10px;
}

.buscar-cpf {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}
